NodeRed.json
[
  {
    "id": "pool-simulation-control",
    "type": "tab",
    "label": "Pool Simulation Control",
    "disabled": false,
    "info": "Controls for the Three.js Pool Simulation"
  },
  {
    "id": "websocket-in",
    "type": "websocket in",
    "z": "pool-simulation-control",
    "name": "Pool Simulation Input",
    "server": "websocket-config",
    "client": "",
    "x": 110,
    "y": 120,
    "wires": [["json-parser"]]
  },
  {
    "id": "json-parser",
    "type": "json",
    "z": "pool-simulation-control",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 290,
    "y": 120,
    "wires": [["connection-handler"]]
  },
  {
    "id": "connection-handler",
    "type": "function",
    "z": "pool-simulation-control",
    "name": "Handle Connections",
    "func": "if (msg.payload.type === 'init') {\n    // Client connected, store initial values\n    flow.set('waterLevel', msg.payload.waterLevel);\n    flow.set('waterColor', msg.payload.waterColor);\n    flow.set('waterOpacity', msg.payload.waterOpacity);\n    flow.set('waterMovement', msg.payload.waterMovement);\n    \n    // Update the UI controls\n    return [\n        { payload: msg.payload.waterLevel, topic: \"waterLevel\" },\n        { payload: msg.payload.waterColor, topic: \"waterColor\" },\n        { payload: msg.payload.waterOpacity, topic: \"waterOpacity\" },\n        { payload: msg.payload.waterMovement, topic: \"waterMovement\" }\n    ];\n}\nreturn null;",
    "outputs": 4,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 120,
    "wires": [
      ["water-level-ui"],
      ["water-color-ui"],
      ["water-opacity-ui"],
      ["water-movement-ui"]
    ]
  },
  {
    "id": "water-level-ui",
    "type": "ui_slider",
    "z": "pool-simulation-control",
    "name": "",
    "label": "Water Level",
    "tooltip": "",
    "group": "pool_controls",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "end",
    "topic": "waterLevel",
    "topicType": "str",
    "min": 0,
    "max": "2",
    "step": 0.1,
    "x": 160,
    "y": 240,
    "wires": [["prepare-control-message"]]
  },
  {
    "id": "water-color-ui",
    "type": "ui_colour_picker",
    "z": "pool-simulation-control",
    "name": "",
    "label": "Water Color",
    "group": "pool_controls",
    "format": "hex",
    "outformat": "string",
    "showSwatch": true,
    "showPicker": true,
    "showValue": true,
    "showHue": false,
    "showAlpha": false,
    "showLightness": true,
    "square": "false",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "topic": "waterColor",
    "topicType": "str",
    "x": 160,
    "y": 280,
    "wires": [["prepare-control-message"]]
  },
  {
    "id": "water-opacity-ui",
    "type": "ui_slider",
    "z": "pool-simulation-control",
    "name": "",
    "label": "Water Opacity",
    "tooltip": "",
    "group": "pool_controls",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "end",
    "topic": "waterOpacity",
    "topicType": "str",
    "min": 0,
    "max": "1",
    "step": 0.05,
    "x": 170,
    "y": 320,
    "wires": [["prepare-control-message"]]
  },
  {
    "id": "water-movement-ui",
    "type": "ui_slider",
    "z": "pool-simulation-control",
    "name": "",
    "label": "Water Movement",
    "tooltip": "",
    "group": "pool_controls",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "end",
    "topic": "waterMovement",
    "topicType": "str",
    "min": 0,
    "max": "4",
    "step": 0.1,
    "x": 180,
    "y": 360,
    "wires": [["prepare-control-message"]]
  },
  {
    "id": "prepare-control-message",
    "type": "function",
    "z": "pool-simulation-control",
    "name": "Prepare Control Message",
    "func": "// Store the updated value in flow\nflow.set(msg.topic, msg.payload);\n\n// Create control message with single property\nlet controlMsg = {};\ncontrolMsg[msg.topic] = msg.payload;\n\nreturn { payload: controlMsg };",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 300,
    "wires": [["json-stringify"]]
  },
  {
    "id": "json-stringify",
    "type": "json",
    "z": "pool-simulation-control",
    "name": "To JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 630,
    "y": 300,
    "wires": [["websocket-out"]]
  },
  {
    "id": "websocket-out",
    "type": "websocket out",
    "z": "pool-simulation-control",
    "name": "Send to Simulation",
    "server": "websocket-config",
    "client": "",
    "x": 830,
    "y": 300,
    "wires": []
  },
  {
    "id": "pool-preset-buttons",
    "type": "ui_template",
    "z": "pool-simulation-control",
    "group": "pool_controls",
    "name": "Pool Presets",
    "order": 5,
    "width": "6",
    "height": "3",
    "format": "<div class=\"row\" style=\"text-align: center; margin-bottom: 10px;\">\n    <div class=\"col-md-12\">\n        <h4>Pool Presets</h4>\n    </div>\n</div>\n<div class=\"row\">\n    <div class=\"col-md-4\" style=\"text-align: center;\">\n        <md-button class=\"md-raised md-primary\" ng-click=\"send({payload: 'tropical'})\">\n            Tropical\n        </md-button>\n    </div>\n    <div class=\"col-md-4\" style=\"text-align: center;\">\n        <md-button class=\"md-raised md-accent\" ng-click=\"send({payload: 'chlorine'})\">\n            Chlorine\n        </md-button>\n    </div>\n    <div class=\"col-md-4\" style=\"text-align: center;\">\n        <md-button class=\"md-raised\" ng-click=\"send({payload: 'night'})\">\n            Night\n        </md-button>\n    </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 170,
    "y": 420,
    "wires": [["handle-presets"]]
  },
  {
    "id": "handle-presets",
    "type": "function",
    "z": "pool-simulation-control",
    "name": "Handle Presets",
    "func": "const presets = {\n    tropical: {\n        waterLevel: 1.9,\n        waterColor: '#00a9ff',\n        waterOpacity: 0.7,\n        waterMovement: 1.5\n    },\n    chlorine: {\n        waterLevel: 1.7,\n        waterColor: '#00ffcc',\n        waterOpacity: 0.6,\n        waterMovement: 0.8\n    },\n    night: {\n        waterLevel: 1.8,\n        waterColor: '#004466',\n        waterOpacity: 0.9,\n        waterMovement: 0.3\n    }\n};\n\nconst preset = presets[msg.payload];\nif (preset) {\n    // Store preset values in flow\n    for (const key in preset) {\n        flow.set(key, preset[key]);\n    }\n    \n    // Send UI update messages\n    const updateMessages = [\n        { payload: preset.waterLevel, topic: \"waterLevel\" },\n        { payload: preset.waterColor, topic: \"waterColor\" },\n        { payload: preset.waterOpacity, topic: \"waterOpacity\" },\n        { payload: preset.waterMovement, topic: \"waterMovement\" }\n    ];\n    \n    // Send control message to simulation\n    const controlMsg = { payload: preset };\n    \n    return [updateMessages, controlMsg];\n}\nreturn null;",
    "outputs": 2,
    "noerr": 0,
    "x": 380,
    "y": 420,
    "wires": [["ui-update-splitter"], ["json-stringify"]]
  },
  {
    "id": "ui-update-splitter",
    "type": "split",
    "z": "pool-simulation-control",
    "name": "Split UI Updates",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 580,
    "y": 380,
    "wires": [["route-ui-updates"]]
  },
  {
    "id": "route-ui-updates",
    "type": "switch",
    "z": "pool-simulation-control",
    "name": "Route UI Updates",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "waterLevel",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "waterColor",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "waterOpacity",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "waterMovement",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 4,
    "x": 770,
    "y": 380,
    "wires": [
      ["water-level-ui"],
      ["water-color-ui"],
      ["water-opacity-ui"],
      ["water-movement-ui"]
    ]
  },
  {
    "id": "websocket-config",
    "type": "websocket-listener",
    "z": "pool-simulation-control",
    "path": "/ws/pool",
    "wholemsg": "false"
  },
  {
    "id": "pool_controls",
    "type": "ui_group",
    "name": "Pool Controls",
    "tab": "pool_dashboard",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "pool_dashboard",
    "type": "ui_tab",
    "name": "Pool Simulation",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
